#repo {
  height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;

    .list {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }


  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .branch {
      user-select: none;
      margin: 0 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
